@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");

body {
  font-family: "Inter", sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.test-description {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
}

.test-description blockquote {
  font-size: 30px;
  font-weight: 300;
  width: 600px;
  margin-left: 0px;
}

.name {
  font-weight: 700;
}

.position {
  color: rgba(128, 128, 128, 0.61);
}

.slider .testimonial {
  position: absolute;
}

.testimonial {
  background-image: url("/images/pattern-quotes.svg");
  background-repeat: no-repeat;
  background-position-x: 80px;
  background-position-y: 125px;
  column-gap: 238px;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  align-items: center;
  margin-left: 300px;
  margin-top: 100px;
  transition: transform 1s;
}

.slider {
  max-width: 100rem;
  height: 50rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.test-img {
  background-repeat: none;
  position: relative;
  grid-column: 2;
}

/* for test testimonial */
.testing-img {
  width: 540px;
  height: 540px;
}

.main-bg {
  box-shadow: 0 9px 25px #777;
}

.test-bg {
  position: absolute;
  z-index: -1;
  transform: translateY(-60px);
  top: 0px;
  bottom: 0px;
  right: -86px;
  height: 650px;
  width: 700px;
}

.arrows {
  display: flex;
  gap: 33px;
  background-color: white;
  width: 80px;
  padding: 10px;
  border-radius: 20px;
  transform: translate(90px, -26px);
}

.arrows button {
  border: none;
  background-color: none;
  cursor: pointer;
}

.hidden {
  opacity: 0;
}

@media (max-width: 1360px) {
  .testimonial {
    margin-left: 0px;
    column-gap: 0px;
    right: 100px;
  }

  .test-description {
    right: 540px;
  }
}

@media (max-width: 1250px) {
  .test-description {
    position: initial;
  }

  .main-bg {
    width: 440px;
  }

  .test-bg {
    right: -2px;
    height: 550px;
    width: 620px;
  }
}

@media (max-width: 1150px) {
  .testimonial blockquote {
    width: 500px;
  }

  .test-bg {
    right: -30px;
  }
}

@media (max-width: 1060px) {
  .testimonial {
    background-position-y: 391px;
    background-size: 74px;
    left: 0px;
  }
  .testimonial blockquote {
    width: 400px;
  }

  .main-bg {
    width: 350px;
  }

  .test-bg {
    height: 449px;
    width: 537px;
    transform: translateY(-64px);
    right: 82px;
  }

  .testing-img {
    height: 350px;
  }
}

@media (max-width: 980px) {
  .test-bg {
    transform: translate(93px, -67px);
  }
}

@media (max-width: 880px) {
  .slider {
    display: flex;
    justify-content: center;
  }

  .testimonial {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 50px;
  }

  .testimonial blockquote {
    width: 650px;
  }

  .testimonial .testing-quote {
    width: 650px;
    font-size: 25px;
  }

  .test-bg {
    transform: translate(97px, -62px);
  }

  .testing-img {
    height: 350px;
  }
}

@media (max-width: 720px) {
  .testimonial blockquote {
    width: 450px;
    font-size: 23px;
  }

  .testimonial .testing-quote {
    width: 480px;
    font-size: 23px;
  }
}

@media (max-width: 500px) {
  .slider {
    display: flex;
    align-items: center;
  }
  .testimonial {
    margin-left: 0px;
    margin-top: 0px;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    left: 50px;
    background-position-x: 125px;
    background-position-y: 380px;
    background-size: 80px;
    gap: 50px;
  }

  .testimonial blockquote {
    font-size: 23px;
    width: 400px;
    text-align: center;
  }

  .test-description {
    position: initial;
  }

  .test-info {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    text-align: center;
  }

  .test-img {
    left: 30px;
  }

  .main-bg {
    width: 300px;
  }

  .test-bg {
    width: 400px;
    height: 375px;
    right: -50px;
    transform: translateY(-45px);
  }

  .testing-img {
    height: 300px;
  }

  .testimonial .testing-quote {
    width: 400px;
    font-size: 15px;
  }
}

@media (max-width: 450px) {
  .testimonial blockquote {
    font-size: 20px;
    width: 300px;
  }

  .testimonial .testing-quote {
    width: 300px;
    font-size: 15px;
  }

  .arrows {
    gap: 24px;
    background-color: white;
    width: 70px;
    transform: translate(90px, -26px);
  }
}

@media (max-width: 400px) {
  .testimonial {
    background-position-y: 350px;
    background-size: 55px;
    left: 0px;
  }

  .testimonial blockquote {
    font-size: 15px;
  }

  .test-info {
    font-size: 15px;
  }

  .main-bg {
    width: 250px;
  }

  .test-bg {
    width: 300px;
    height: 320px;
    right: -50px;
    transform: translate(-13px, -53px);
  }

  .testing-img {
    height: 250px;
  }
}

@media (max-width: 360px) {
  .testimonial .testing-quote {
    width: 280px;
    font-size: 15px;
  }

  .main-bg {
    width: 220px;
  }
  .test-bg {
    height: 295px;
  }
}
