@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");

body {
  font-family: "Inter", sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.test-description {
  display: flex;
  flex-direction: column;
}

.test-description blockquote {
  font-size: 30px;
  font-weight: 300;
}

.name {
  font-weight: 700;
}

.position {
  color: rgba(128, 128, 128, 0.61);
}

.slider .testimonial {
  position: absolute;
}

.testimonial {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  /* display: flex; */
  align-items: center;
  margin-left: 300px;
  margin-top: 100px;
  /* transform: translateX(20%); */
  /* transition: transform 0.4s ease-in-out; */
  transition: transform 1s;
}

.slider {
  /* position: relative;
  overflow: hidden; */
  max-width: 100rem;
  height: 50rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.test-img {
  /* background-image: url("/images/pattern-bg.svg"); */
  background-repeat: none;
  position: relative;
}

/* for test testimonial */
.testing-img {
  width: 540px;
  height: 540px;
}

.main-bg {
  /* box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.281); */

  box-shadow: 0 9px 25px #777;
}

.test-bg {
  position: absolute;
  z-index: -1;
  transform: translateY(-60px);
  top: 0px;
  bottom: 0px;
  right: 250px;
  height: 650px;
  width: 700px;
}

.arrows {
  display: flex;
  gap: 33px;
  background-color: white;
  width: 80px;
  padding: 10px;
  border-radius: 20px;
  transform: translate(90px, -26px);
}

.arrows button {
  border: none;
  background-color: none;
  cursor: pointer;
}

.hidden {
  opacity: 0;
  /* display: none; */
}
